@charset "UTF-8";

* {
  margin: 0;
}

body {
  background-image:linear-gradient(to bottom , rgb(255, 243, 237) , #f6ecec);
  width: 99.4%;
}

#forte {
  color: #e2a286;
}

header {
  padding: 10px;
}

#topo {
  text-align: center;
  width: 100%;
  padding: 10px;
}

#menu {
  margin-top: 25px;
}

#menu>a {
  text-decoration: none;
  font-size: 1.7rem;
  padding-left: 15px;
  padding-right: 15px;
  color: black;

}

#menu>a:hover {
  text-decoration: underline;
  transition-duration: .5s;
}

article {
  margin-top: 25px;
  margin-left: auto;
  width: 90%;
  display: flex;
  text-align: justify;
}

.banner-content{
  font-size: 2rem;
  margin-bottom:25px ;

}

.imagens{
display: flex;
align-items: center;

}

ul {
  columns: 2;
  list-style: none;
  margin: auto;

}
li{
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 1s;

}



@media (max-width: 1200px) {
  html {
    font-size: 0.7rem;
  }
  ul {
    columns: 1;
    list-style: none;
    margin: auto;
  }
  #menu>a {
    text-decoration: none;
    font-size: 1.7rem;
    padding-left: 7px;
    padding-right: 7px;
    color: black;
  
  }
}
@media (max-width: 550px) {
  html {
    font-size: 0.5rem;
  }
  ul {
    columns: 1;
    list-style: none;
    margin: auto;
  }
  #menu>a {
    text-decoration: none;
    font-size: 1.7rem;
    padding-left: 7px;
    padding-right: 7px;
    color: black;
  
  }
}
