@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 100 vw;
}

body {
  background-image: linear-gradient(to top, rgba(255, 216, 196, 0.883), #f6ecec);
  width: 100%;
  overflow-x: hidden;
  margin: auto;
}

#forte {
  color: #e2a286;
}

header {
  padding: 10px;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#topo {
  text-align: center;
  width: 100%;
  padding: 10px;

}

#menu {
  margin-top: 25px;

}

a:visited {
  color: black;
}


#menu>a {
  text-decoration: none;
  font-size: 1.7rem;
  padding-left: 15px;
  padding-right: 15px;
  color: black;

}

#menu>a:hover {
  text-decoration: underline;
  transition-duration: .5s;
}

article {
  margin-top: 25px;
  margin-left: auto;
  width: 90%;
  display: flex;
  text-align: left;
  align-items: center;

}

.banner-content {
  font-size: 2rem;
  margin-bottom: 25px;

}

.imagens {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 10pt;
}


.imagens img:hover {
  box-shadow: 2px 2px 50px rgb(255, 216, 196);
}


ul {
  columns: 2;
  list-style: none;
  margin: auto;
  margin-top: 30px;

}

li {
  margin: auto;
  margin-bottom: 30px;
  transition: 1s;
  padding: 5px;
}


footer {
  display: flex;
  background-color: white;
  padding: 25px 0 25px 0;
  text-align: center;
  width: 90%;
  margin: auto;
  border-radius: 10pt;
  margin-top: 25px;
  flex-direction: column;
}

footer>h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}


.icone {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  margin-left: 25px;
  width: 90%;
  padding: 10px;
}

.icone:hover {
  text-decoration: underline;

}



/********* RESPONSIVIDADE********/

@media (max-width: 1200px) {
  html {
    font-size: 0.7rem;
  }

  body {
    width: 98%;
  }

  #menu>a {
    text-decoration: none;
    font-size: 1.7rem;
    padding-left: 7px;
    padding-right: 7px;
    color: black;
  }

  ul {
    columns: 1;
    list-style: none;
    margin: auto;
    margin-top: 30px;
  }


  li {
    margin: auto;
    margin-bottom: 30px;
  }

  footer {
    display: flex;
    text-align: center;
    background-color: white;
    width: 90%;
    margin-top: 15px;
    padding: 15px 0 15px 0;
    border-radius: 10pt;
  }

  footer>ul {
    columns: 2;
  }
}




@media (max-width: 590px) {
  html {
    font-size: 0.5rem;
  }

  body {
    width: 98%;
  }

  ul {
    columns: 1;
    list-style: none;
    margin: auto;
    margin-top: 30px;
  }

  #menu>a {
    text-decoration: none;
    font-size: 1.7rem;
    padding-left: 7px;
    padding-right: 7px;
    color: black;
  }

  footer {
    display: flex;
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 10pt;
    background-color: white;
    margin-top: 10px;
    padding: 10px 0 10px 0;
  }

  footer>ul {
    columns: 1
  }

}